on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin

on post-fs-data
    chmod 0775 /data/asusdata
    chown root shell /data/asusdata
    chmod 0775 /data/gmxt
    chown media_rw media_rw /data/gmxt
# ASUS_BSP+++ Wenli "fix can't save coredump caused by permission"
    mkdir /data/log 0775 system system
    mkdir /data/media/asus_log 0755 media_rw media_rw
# ASUS_BSP--- Wenli "fix can't save coredump caused by permission"

service asusdebug /system/bin/sh /system/etc/prepare_asusdebug.sh
    class late_start
    oneshot
    disabled
on property:persist.asus.debug=1
	export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/data/debug
	start asusdebug
	
on property:persist.asus.debug=0
	export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
	
service check-datalog /system/bin/sh /system/etc/init.asus.checkdatalog.sh
    class late_start
    oneshot
    
on property:persist.asus.startlog=1
    start check-datalog
    start  console
on property:persist.asus.startlog=0
    start check-datalog
    stop  console
    
service saveramdump /system/etc/saveramdump.sh
    class late_start
    oneshot
    disabled
    
#log_main log_system
service logcat /system/bin/logcat -k -r 10000 -n 20 -v threadtime -f /data/logcat_log/logcat.txt
	class late_start
	disabled
#log_radio
service logcat-radio /system/bin/logcat -r 10000 -b radio -n 20 -v time -f /data/logcat_log/logcat-radio.txt
	class late_start
	disabled
#log_events
service logcat-events /system/bin/logcat -r 10000 -b events -n 20 -v threadtime -f /data/logcat_log/logcat-events.txt
	class late_start
	disabled
	    
service ssn /system/bin/ssn
    class late_start
    oneshot

# ASUS_BSP+++ Wenli "Move config to this file"
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw qcom_oncrpc diag qcom_diag log

# ASUS_BSP--- Wenli "Move config to this file"


# ASUS_BSP+++ Wenli "Porting from A68 1030"
# tcpdump_warp service to save tcpdump to /sdcard
service tcpdump-warp /system/xbin/tcpdump.sh
    class late_start
    user root
    group root
    disabled

# ASUS_BSP+++ ChanceChen "add save-hcidump service"
service save-hcidump /system/bin/sh /system/etc/init.asus.hcidump.sh
    class late_start
    user root
    group root
    disabled
    oneshot
# ASUS_BSP--- ChanceChen "add save-hcidump service"

# config subsystem restart
on property:persist.sys.modem.restart=*
    stop restart_cfg2
    start restart_cfg2

service restart_cfg2 /system/xbin/restart_cfg.sh
    class late_start
    user root
    group root
    disabled
    oneshot

on property:ril.restart.step=*
    start modem_restart

service modem_restart /system/xbin/modem_restart.sh
    class late_start
    user root
    group root
    disabled
    oneshot
    
#ASUS_BSP +++ Yujoe "[A60K][Diag][N/A][Improve]Improve the process of saving QXDM log to SD card."
service diag_mdlog /system/bin/diag_mdlog
    class late_start
    disabled

on property:persist.asus.qxdmlog.enable=1
    start diag_mdlog  

on property:persist.asus.qxdmlog.enable=0
    stop diag_mdlog
    write /sys/power/wake_unlock diag_fwrite

on property:debug.asus.qxdmlog.enable=1
    start diag_mdlog  

on property:debug.asus.qxdmlog.enable=0
    stop diag_mdlog
    write /sys/power/wake_unlock diag_fwrite
#ASUS_BSP --- Yujoe "[A60K][Diag][N/A][Improve]Improve the process of saving QXDM log to SD card."

#ASUS_BSP+++ larrylai "[A66][USB][NA][NA] setup qpst download mode properity"
on property:persist.sys.downloadmode.enable=1
write /sys/module/restart/parameters/download_mode 1

on property:persist.sys.downloadmode.enable=0
write /sys/module/restart/parameters/download_mode 0
#ASUS_BSP--- larrylai "[A66][USB][NA][NA] setup qpst download mode properity"

# ASUS_BSP--- Wenli "Porting from A68 1030"    
#ASUS_BSP +++ Allen1_Huang
service asusevtlog /system/bin/sh /system/etc/init.asus.evtlog.sh
    class late_start
    oneshot
    disabled

on property:sys.asus.evtlog=1
    start asusevtlog
on property:sys.asus.evtlog=0
    start asusevtlog
#ASUS_BSP --- Allen1_Huang

#Instant Dictionary ++
service screendict /system/bin/asusscreendict
# ASUS_BSP +++ Josh_Liao "encrypt phone"
	class late_start
# ASUS_BSP --- Josh_Liao "encrypt phone"
	user system
	oneshot
#Instant Dictionary --

# ASUS_BSP+++ BennyCheng "add persist.sys.usb.otg.mode property to switch usb host/client mode for apk use"
on property:persist.sys.usb.otg.mode=host
write /proc/msm_otg/mode host

on property:persist.sys.usb.otg.mode=peripheral
write /proc/msm_otg/mode peripheral

on property:persist.sys.usb.otg.mode=auto
write /proc/msm_otg/mode auto
# ASUS_BSP--- BennyCheng "add persist.sys.usb.otg.mode property to switch usb host/client mode for apk use"

# ASUS_BSP+++ Victor "disable power off dialog for special version"
setprop persist.sys.test.poweronoff true
# ASUS_BSP--- Victor "disable power off dialog for special version"

#CR++ trigger mpdecision when property is modified
service onMpdChanged /system/bin/onMPDecision.sh
    class core
    user root
    oneshot
    disabled

on property:persist.sys.powersaving.mpdmode=*
    start onMpdChanged
#CR++

on early-init
# ASUS_BSP+++ BennyCheng "create Removable directory for mounting usb storages"
    mkdir /Removable 0755 media_rw media_rw
# ASUS_BSP--- BennyCheng "create Removable directory for mounting usb storages"

on init
# ASUS_BSP+++ BennyCheng "create Removable directory for mounting usb storages"
    mount tmpfs tmpfs /Removable mode=0755,gid=1000
# ASUS_BSP--- BennyCheng "create Removable directory for mounting usb storages"

#+++ ASUS_BSP : add for unlock function
chown root system /dev/block/mmcblk0p13
chmod 660 /dev/block/mmcblk0p13
#--- ASUS_BSP : add for unlock function

on post-fs-data
    # joe1 "change path for ATD test"
    symlink /sys/devices/platform/hdmi_msm.1/hdmi_status /data/data/hdmi_status

# ASUS_BSP +++ SinaChou  "create link for Microp Firmware Update APP"
    symlink /sys/devices/i2c-10/10-0015/pad_update_progress /data/pad_update_progress
    symlink /sys/devices/i2c-10/10-0015/dock_hallsensor_status /data/data/dock_hallsensor_status
    symlink /sys/devices/i2c-10/10-0015/pad_proximity_sensor_status /data/data/pad_proximity_sensor_status
# ASUS_BSP ---

    # ASUS_BSP+++ Eason_Chang BalanceMode
    chown system system /proc/driver/balanceChg
    # ASUS_BSP--- Eason_Chang BalanceMode


on boot
# ASUS_BSP+++ Peter_lu "Add for fastboot "
    chown radio system /sys/power/fastboot
    chmod 0660 /sys/power/fastboot
    chown radio system /sys/power/fastboot_wakeup
    chmod 0660 /sys/power/fastboot_wakeup
# ASUS_BSP--- Peter_lu "Add for fastboot "

    class_start core
# ASUS_BSP +++ Josh_Liao "encrypt phone"
    start qcom-wifi
# ASUS_BSP --- Josh_Liao "encrypt phone"
    class_start main

#+++ ASUS_BSP: Vic: dhcpcd service for ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -ABKL -f/system/etc/dhcpcd/dhcpcd.conf
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot
#--- ASUS_BSP: Vic: dhcpcd service for ethernet
